.wrapper
  = render partial: 'posts/parts/header'
  
  .main-page
    = render partial: 'posts/parts/search'
    .search
      .search-container
        .search-right
          %section.items-box-container
            -if @search.present?
              %h2.search-result-head
                =@search
                %span.search-result-head-text
                  の検索結果
              .search-result-number
                ="1-#{@posts.count}件表示"
            -else
              %h2.search-result-nil
                最新投稿
            .contents-wrap
              = render partial: 'posts/parts/contents-wrap'
              
    .pagination
      = paginate(@posts)
  = render partial: 'posts/parts/footer'
