.wrapper
  = render partial: 'posts/parts/header'
  .main-page
    .profile-right
      .profile-right-container
        .profile-title マイページ
        .show-box
          .show-box-title 募集予定
          - @posts.each do |post|
            .posts-box
              .post-title
                = link_to post.title, "/posts/#{post.id}", method: :get, class: 'title'
              .genre-tag
                = post.genre.name
              .fa.fa-calendar
                = post.date
              .fa.fa-map-marker
                = post.prefecture.name
                = post.venue
              .fa.fa-user
                = post.count.name
                人
              .fa.fa-comment 
                = post.comment
    .profile-left
      .profile-top
        = image_tag @user.image
        .profile-user-name
          = link_to @user.nickname, "/users/#{@user.id}", method: :get, class:"profile-user-name"
          = link_to edit_user_path do
            = fa_icon 'cog'
      .profile-edit-menu
        = link_to 'プロフィール編集' , edit_user_path
        = link_to 'ログアウト', destroy_user_session_path, method: :delete 
  = render partial: 'posts/parts/footer'
